[2020-03-18 19:10] robations opened #1 "Server side rendering"
It would be useful if the hook could test for the presence of the window object to enable server-side rendering more easily. For example:

i. test for window object
ii. if doesn't exist, return `defaultValue`

Any thoughts? This might still leave a potential issue with `updateValue`?

[2020-03-19 06:48] astoilkov commented on #1
This can be easily done outside the library with a parent hook. I wrote the code below. If this issue gets enough votes I will add this approach to the readme:

[code]

Generally, if I can I want to avoid adding logic than can go outside of the library. Do you agree?

[2020-03-19 12:31] robations commented on #1
Yes, and thanks, sounds like a good principle 👍

With your example code I had a problem with typing the return value, the value from the hook was inferred as `unknown`. I ended up copying the return type into my hook and it worked (TS 3.8.3). I wonder if you need to specify the `types` field [in package.json](https://www.typescriptlang.org/docs/handbook/declaration-files/publishing.html)?

One oth

[2020-03-19 12:45] astoilkov commented on #1
I put a "types" field into the package.json and release a new version. Can you try this again?

I am considering it. However, I have two ideas on how those issues can be solved without modifying this library. `sessionStorage` can be made into another module as this module name is pretty descriptive and is confusing to have that functionality. The testing can be done by mocking the object globally

[2020-03-19 13:12] robations commented on #1
Cool, I updated and my IDE is less confused about finding the types, but I still have a problem with `unknown`.

Thinking about it, I think the problem is that when you use `ReturnType` + `typeof` there is no way to pass your type parameter to a *value* (e.g. the `useLocalStorageState` function). I did some searching and can't find a way to do this. A workaround would be to create an interface for

[2020-03-19 14:01] astoilkov commented on #1
Does your third option work? I like it the most.

[code]

[2020-03-19 14:43] robations commented on #1
Yes, works for me.

(Note the `T extends {}` can be just `T` for sake of documentation — an extra constraint I needed for my project.)

[2020-03-19 14:44] astoilkov commented on #1
Awesome. Thanks. Closing this issue for now. If you have any other suggestions or ideas please feel free to continue here or open a new issue.

Have a great day and happy hand washing :)

[2020-03-19 14:44] #1 closed

[2020-04-01 21:14] pacocoursey opened #2 "Handle error when localStorage value is not JSON parseable"
If a localStorage value is manually set (not through the hook) and is not valid JSON syntax, this library will throw an error when attempting to parse it:

[code]

Ideally, the hook should handle this error gracefully, in the case that another piece of code overrides the value or it is edited manually through dev tools.

Places to error check:

https://github.com/astoilkov/use-local-storage-state/

[2020-04-11 18:21] astoilkov commented on #2
Sorry, for the delayed response. I wasn't watching the repository for some strange reason and I didn't receive a notification or an email for your issue.

I intentionally left out the `try/catch` logic of handling JSON parsing errors. This follows a programming principle I have: **Don't add code before you know why**.

I couldn't figure out what should happen that the programmer can't or didn't ha

[2020-04-18 08:39] garmeeh opened #3 "Unable to use with SSR via Next.js"
Trying to use this hook with Next.js and due to server side rendering it errors out on first load.

Do you think there is a use case to check for `localStorage` and fallback to state when not available?

[2020-04-18 08:40] garmeeh commented on #3
😬 Just seen #1, I will review that discussion and re-open if needed.

[2020-04-18 08:40] #3 closed

[2020-04-18 09:33] astoilkov commented on #3
@garmeeh I am considering it. I think I will add SSR support inside the library. Either this or include a description in the readme.

[2020-04-18 11:12] garmeeh commented on #3
Hey @astoilkov thanks for the reply. Maybe a description in the readme might be a good starting point?

Next.js is a pretty popular framework so I could imagine it open up your library to a wider audience if it had support for SSR out of the box. If you do add support let me know, I would be happy to give it a test in Next.js and even add an example to Next.js repo.

[2020-04-18 11:17] astoilkov commented on #3
Great, thanks. I wrote an item in my tasks to let you know.

[2020-04-21 19:47] igorbarbashin commented on #2
I also had a similar issue. I thought that in order to delete a local storage item I'd just pass `undefined` as value.
But it then was stored as `"undefined"` string and then was unable to parse.

What is the best way to remove an item? Just by calling `window.localStorage.removeItem()`?

[2020-04-22 12:22] astoilkov commented on #2
The `undefined` case is very confusing indeed. I will change this behavior and introduce a new version.

Until then you can use DevTools Console and run `localStorage.removeItem()` or DevTools Application Local Storage where you can manage the data in local storage.

[2020-04-26 20:20] rexxars opened #5 "Thoughts on missing localStorage?"
In certain contexts you may encounter browsers which have disabled localStorage.

If you're blocking cookies in Safari, for instance, simply trying to _access_ `localStorage` (even for a `typeof` check) will throw an error.

In other cases/browsers, attempting to actually _set_ an item will yield a quota exceeded error (they set the max quota size to 0 bytes).

An actual check for whether or not l

[2020-04-26 20:25] rexxars commented on #2
I've encountered this. When you're not following your good advise on namespacing keys, it's possible (and potentially likely) that you may be using a key that some other app might also be using. In this case, their data may not be JSON and thus crash.

The obvious solution to this is to use namespaced keys, but having a way to gracefully recover would be nice. Maybe use the default value and do a

[2020-04-27 07:37] astoilkov commented on #2
@rexxars Thank you for the suggestion. I will work on the problem this week and ask you for ideas.

[2020-04-27 08:08] astoilkov commented on #5
Respect for the type of issue you have created. This is what I call a way to approach problems – with questions.

These aren't easy questions. Can you give me a few days to think about it and we can discuss them after that?

[2020-04-27 08:09] astoilkov commented on #5
I saw that type of thinking in your post: https://espen.codes/post/strictness-in-apis-or-why-hapi-rocks. Nice!

[2020-04-28 18:39] astoilkov commented on #2
@rexxars What do you mean by "some other app"? Did you encounter the error while developing? On encountering the error was it confusing for you to understand why the error was happening?

Thanks.

[2020-04-28 18:42] astoilkov commented on #5
[code]

What do you think about such an API? The hook will return an additional boolean to let you know if the data is currently being persisted in localStorage or not?

[2020-04-28 20:07] rexxars commented on #2
While developing locally, apps tend to use similar port numbers (eg `:3000`), and you can easily end up with competing localstorage keys. If the competing key isn't a JSON-encoded string, it'll throw. If you have a competing key which _is_ JSON encoded, you can of course end up with some _really_ weird results, but that's hard to guard against ;)

[2020-04-28 20:09] rexxars commented on #5
I like it! Leave it up to the app developer whether or not they care :)

[2020-05-01 20:24] cdock1029 opened #6 "useEffect run on every render"
Is it necessary that you are not providing at least an empty dependency array here
https://github.com/astoilkov/use-local-storage-state/blob/d84473109493f120d342f275c925d69566a1b661/index.ts#L103

meaning this runs on every render (which [can be many many times](https://reactjs.org/docs/strict-mode.html#detecting-unexpected-side-effects) in concurrent mode)?

[2020-05-01 20:29] #6 closed

[2020-05-01 20:29] astoilkov commented on #6
It seems I overlooked this. I fixed it. Thanks!

[2020-05-03 08:12] astoilkov commented on #5
I am done with the implementation. Can you check it out and tell me what you think?

[2020-05-03 10:12] astoilkov commented on #3
@garmeeh Version 3 now supports SSR. You can try it out in Next.js and let me know.

[2020-05-03 10:20] astoilkov commented on #1
@robations Version 3 now supports SSR. I figured I let you know as it can be useful for you.

[2020-05-03 23:23] rexxars commented on #5
This looks great!

[2020-05-04 08:10] astoilkov commented on #5
Perfect. I am closing this issue then. If you have more valuable feedback please don't hesitate to write it.

[2020-05-04 08:10] #5 closed

[2020-05-08 13:29] robations commented on #1
Thanks for the update @astoilkov. Nothing left of my hands, by the way!

[2020-06-20 03:28] chasemccoy commented on #2
I ran into this issue as well 👋 any updates?

[2020-06-20 09:38] astoilkov commented on #2
@chasemccoy What version are you using? The latest version handles errors caused by `JSON.parse()` — https://github.com/astoilkov/use-local-storage-state/blob/master/index.ts#L15-L19

[2020-06-20 19:08] chasemccoy commented on #2
@astoilkov I installed the latest version (`3.0.1`) and I tried to hook it up to a component with a local storage key that had already been assigned a value (in this case, the value was a plain string) and received this error. Everything was fine after switching to a new key or deleting the old key

[2020-06-22 13:46] astoilkov commented on #2
@chasemccoy I decided to write a test case for this scenario – https://github.com/astoilkov/use-local-storage-state/blob/master/test.ts#L59-L66 which successfully passes. Maybe the problem is more complicated.

Can you create and share an example that successfully replicates the problem?

[2020-06-22 14:57] chasemccoy commented on #2
@astoilkov Hmm... I can't seem to reproduce the issue now! I'll keep trying, but perhaps I just had some sort of edge case? Either way, thank you for investigating!

[2020-06-29 12:48] willviles opened #7 "Compiler target causing error in Edge (non-Chromium)"
Targeting ES2019 in your tsconfig.json compiler options causes problems when bundled into sites running Edge (non-Chromium).

This is because Edge still doesn't handle [optional catch binding](https://mariusschulz.com/blog/optional-catch-binding-in-typescript) properly.

[code]

Simply changing the compiler target from `ES2019` to `ES5` or `ES6` should solve this.

https://github.com/astoilkov/use

[2020-06-29 13:04] astoilkov commented on #7
Makes sense. I will do it. Thanks!

[2020-07-03 07:50] #7 closed

[2020-07-03 08:13] astoilkov commented on #7
Sorry for the slow response.

I made the change and published a new release.

[2020-07-03 14:03] willviles commented on #7
Thanks!

[2020-07-24 14:13] fsmaia opened #8 "Add support to removeItem"
How about adding a third item in the tuple that invokes `.removeItem`, and then being able to clean the entry? In cases where `undefined` is the initial value, this is commonly desirable IMHO.

I may add a PR if you will :)

[2020-07-24 14:32] astoilkov commented on #8
Why not just execute `setState(undefined)`?

[2020-07-24 19:39] fsmaia commented on #8
Actually, in my scenario, there are two provider components, each one using a `createLocalStorageStateHook` under different keys. When calling the inner provider's `setState`, it is invoking the outer one. I'm trying hard to investigate what's happening and I'll start another issue when I figure it out.

In a simpler test, your suggestion works just fine, and this issue may be closed since, IMHO,

[2020-07-27 08:19] astoilkov commented on #8
This is interesting. Let me know if you discover something.

Perfect, I am closing this issue.

[2020-07-30 15:10] natac13 opened #9 "Session Storage support?"
Is there any plans to let the user choose between localstorage and session storage. Or even between using the default value over the stored value?

I have a use case that I would only like to use the stored value during the same user session.

[2020-07-30 15:21] astoilkov commented on #9
I am considering supporting session storage. I am not sure about it yet.

Can you clarify on that? I'm not sure I understand it correctly.

[2020-07-30 17:05] natac13 commented on #9
Maybe using memory is the answer for me.

The use case is a landing page with full page sections, on scroll I set a page number from `useState`. The full page section then changes. Upon clicking a nav link and then using the back button I would like the user to be on the same full page section of the landing page. However when they close the tab or navigate directly to the home page via url I woul

[2020-07-31 07:52] astoilkov commented on #9
Yes, it seems you can do this without session storage.

I am closing this issue. If I have misunderstood something please feel free to write back.

[2020-07-31 07:52] #9 closed

[2020-07-31 11:38] Taraluktus commented on #9
One advantage for sessionStorage over in-memory is, that it survives page reload, and it behaves at tab clone/duplicate as a user would expect it.
localStorage could do that too, but it's a bit too "persistent" for our use case.

[2020-07-31 12:02] astoilkov commented on #9
@Taraluktus Are you teammates with @natac13? I am asking because the use case @natac13 described can be done with [hash URLs](https://developer.mozilla.org/en-US/docs/Web/API/URL/hash). This way the position of the section will be remembered on page reload and tab duplication.

[2020-07-31 12:20] Taraluktus commented on #9
No, totally unrelated to him.
We only use localStorage/sessionStorage for the JWT token.

[2020-07-31 18:39] astoilkov commented on #9
@Taraluktus Do you use any kind of abstraction for the session storage?

[2020-08-01 13:17] Taraluktus commented on #9
No, before useLocalStorageState, we used sessionStorage directly.

[2020-08-02 08:18] astoilkov commented on #9
@Taraluktus How did you swap using sessionStorage with using localStorage? Isn't sessionStorage the thing you need?

[2020-08-02 19:25] Taraluktus commented on #9
They work nearly the same, and also have the same API (but I think you already knew that).
We wanted to use a hook-based solution, and this one is the most mature. Nevermind, we are now taking a custom approach since the use case is very specific. (can be closed)

[2020-08-03 11:43] astoilkov commented on #9
@Taraluktus Thank you for the time taken to answer my questions. This has been very useful. I will leave the implementation of sessionStorage for now and wait for more feedback.

[2020-08-03 15:02] Taraluktus commented on #9
Fair enough.
There is another caveat: the storage DOM event is not fired for sessionStorage, which makes it hard to track changes. A one-to-one implementation (replacing localStorage with sessionStorage) would not work as expected.

[2020-09-22 01:59] katelovescode commented on #8
When I tried this, it sets my value to the string "undefined" rather than removing it.  Ditto for "null".  I can do a string comparison but that's not really what I would expect.  Can we reopen this issue?

[2020-09-22 16:22] astoilkov commented on #8
@katelovescode Will find a solution soon.

[2020-10-03 16:57] astoilkov commented on #8
@katelovescode What do you think about a `reset()` function available on the `setState` value like this:
[code]

[2020-10-05 18:18] katelovescode commented on #8
Could you pass it a key to remove only that key?  Or will this reset all of the localstorage state you've set?

[2020-10-05 18:25] astoilkov commented on #8
What do you mean by "all of the localstorage state"?

The `reset()` call will clear only one key – `todos`. Everything else in the localStorage will be untouched.

[2020-10-05 19:15] katelovescode commented on #8
Oh!  I get it, sorry, I misunderstood.  Yes, this sounds great!

[2020-10-07 19:52] astoilkov commented on #8
This is now implemented. I am closing this issue. Thanks for the help!

[2020-10-07 19:52] #8 closed

[2020-10-12 12:49] astoilkov commented on #2
I have thought a lot about this. I decided to put everything in place so the library doesn't throw any errors. The new 5.1.0 release includes everything needed. Hope you like the change. Thanks to everybody who shared your opinion.

I am closing this issue now.

[2020-10-12 12:49] #2 closed

[2020-10-30 22:58] deshiknaves opened #11 "Endless loop on update and useEffect"
[code]

Doing something like above completely breaks in an endless loop. This was not a problem in `4.x.x`. The `saveSearch` function does not appear to be the same version. Removing the `saveSearch` from the dependency will work, but that's not the right thing to do.

[2020-10-30 23:04] deshiknaves commented on #11
[code]

This test will show that this gets called 6 times instead of 1. I have a fork of this and instead of using a `useMemo` and using a `useCallback` will not cause this issue. However, using a `useCallback` will not allow the function to have a `reset` property on the function.

[2020-10-30 23:08] deshiknaves commented on #11
[code]

This test will show that this get's called 6 times instead of 1. This does get resolved if a `useCallback` is used instead of a `useMemo`. However, the `useCallback` function can't have a `reset` property on the function, so that API would need to change.

[2020-10-31 19:46] #11 closed

[2020-11-01 07:35] vrease opened #13 "useEffect do not fire when cart state is updated"
FIrst. Really love `use-local-storage-state`. Good work! 💯

Issue: useEffect do not fire when cart state is updated. Any idea why?

useCart.js
[code]

cart.js (simplified)
[code]

[2020-11-01 09:48] astoilkov commented on #13
I couldn't replicate the issue. Can you reproduce the problem in the example [here](https://codesandbox.io/s/agitated-goldstine-ypxz8?file=/src/App.js).

[2020-11-01 20:19] vrease commented on #13
My bad! I updated state i a bad way. Works fine now! Thanks for the reply!

[2020-11-01 20:19] #13 closed

[2020-12-19 00:38] paulmelnikow opened #16 "setState() doesn't always update the localStorage value"
Thanks for this useful library! I ran into a bit of a puzzle, and I'm hoping you can help. I'm using a hook created via `createLocalStorageStateHook()` to write to local storage, then immediately navigating to a new page to read the value from another instance of the hook.

What's happening is that, absent another render of my component, the state is not being written to local storage, so the new

[2020-12-19 10:59] astoilkov commented on #16
@paulmelnikow That's a very interesting issue. I started exploring it. I will write when I have progress.

[2020-12-20 14:41] astoilkov commented on #16
@paulmelnikow I understood the problem now. It's an issue in `use-local-storage-state`. The bug can be replicated without Apollo. I am starting to work on a solution.

P.S. If you are interested in the details I can write a comment so I can explain to you what's happening.

[2020-12-20 16:02] #16 closed

[2020-12-20 16:04] astoilkov commented on #16
I fixed the problem but there is more work to be done. I will create a new issue that will explain the details and link to this one. You will see it when I post it here for reference.

Thanks for the time to write this detailed explanation. It's always great to see.

[2020-12-20 19:00] paulmelnikow commented on #16
Yes, I am super curious to understand what you discovered. Thank you so much for the fix, too! I really like the pattern of storing relatively unimportant and low-security user-specific state in local storage, and am glad to help strengthen this thoughtful implementation. Will definitely read the issue when you post it.

[2020-12-21 11:58] bkniffler opened #17 "Edge-Case, problem with refreshing from localStorage if key changes"
Example, I read the users active tenantId from localStorage. The localStorage key contains the users ID, since if another user signs in on the same machine, they will probably have a different active tenantId.

[code]

If the user changes without the whole component being reloaded (unloaded and reloaded) OR if the user is undefined because he's still being loaded, it seems like useLocalStorageStat

[2020-12-21 12:04] astoilkov commented on #17
Yes, this is a bug in the library. I will fix it soon. Thanks for the report and for the appreciation!

[2020-12-23 18:54] #17 closed

[2020-12-23 18:59] astoilkov commented on #17
This is now fixed in the newest release – 6.0.2. Thanks a lot for the report!

[2021-01-05 03:12] hyurl opened #18 "Calling setState with a callback as a value doesn't work"
The only thing stored in the storage is `undefined`, and `setState` will not update it.

[2021-01-05 07:27] astoilkov commented on #18
Can you give a code example?

I tried testing some scenarios but everything seems to be working fine. Also, all 29 tests pass.

[2021-01-05 08:47] astoilkov commented on #18
I created a demo showcasing that everything works with the latest version: https://codesandbox.io/s/silent-forest-v5tot.

What version are you using?

[2021-01-05 09:49] hyurl commented on #18
Maybe a code example is too simple that cannot test the issue. My scenario is, I used this tool in one of my component named DataForm, and my framework is based one Next.js, and this component is used in one of the page component. I don't know, possibly this module does't fit in Next.js, just like react-redux. But it should fit since I just use the following simple code in my DataForm component, w

[2021-01-05 09:53] hyurl commented on #18
One more thing, I call setState with a function that return the new state instead of a passing the state object directly.

[2021-01-05 10:36] #18 closed

[2021-01-05 10:45] astoilkov commented on #18
I successfully replicated the issue, fixed it, and released a new version.

Thank you very much! This was a big oversight on my part. I also updated the test in order to test for this in the future.

[2021-01-05 10:46] astoilkov commented on #18
I forgot to explain the problem. Calling `setState(callback)` doesn't work. I updated the example to showcase the problem: https://codesandbox.io/s/silent-forest-v5tot.

[2021-02-02 12:24] davidgomes opened #19 "[Proposal] Set target to ES5"
Have you considered changing the build target to ES5 instead of ES6 so that this library works across more browsers?

Alternatively, you can ship 2 different builds (one with target=ES5 and one with target=ES6), I've seen some other libraries do this and then as a client, I could do `import useLocalStorageState from "use-local-storage-state/es5"`.

[2021-02-02 14:46] astoilkov commented on #19
I have considered it but not in-depth. I will do that.

If you have the time I will be happy to know the answer to few questions. This will help me while researching:
- What browser do you want support for?
- Can you give an example for a library providing both ES6 and ES5 support?
- Have you tested `use-local-storage-state` in the browser you want support for?

Thanks in advance.

[2021-02-02 15:54] davidgomes commented on #19
1. IE10/IE11 and maybe even Chrome <48.
2. https://github.com/adaltas/node-csv-stringify (https://github.com/adaltas/node-csv-stringify/tree/master/lib/es5)
3. We have not, but we have reasons to believe it will not work since I looked at the output of `use-local-storage-state` and there's some `const` keywords in there which is syntax that's not supported in older browsers.

[2021-02-02 15:57] astoilkov commented on #19
Thanks a lot. One last question: Which bundler are you using? I am asking because I am wondering if it isn't possible to transform the module to ES5 using babel with the help of your bundler.

I will research the topic soon and let you know. Thanks again.

[2021-02-02 16:05] davidgomes commented on #19
We are using webpack and yes, it is possible to transform the module to ES5 using Babel ourselves, but this would be the only dependency that we use that we'd have to do this for, so on our end we'd prefer to have an ES5 output as well.

[2021-02-02 16:16] astoilkov commented on #19
Makes sense. Thanks.

[2021-02-02 21:31] callumlocke commented on #19
I just came here to create an issue that seems possibly related. I just tried using this module in a standard Next.js app (latest version), importing it with `import useLocalStorageState from 'use-local-storage-state'` into a TypeScript file (just using Next's built-in TypeScript support), and it causes the following try to run or build it (with the latest Node – v14.15.4):

[code]

[2021-02-03 02:51] Luccasoli commented on #19
I have this same problem too :(
i'm using "use-local-storage-state": "^7.0.0",

[2021-02-03 08:12] astoilkov opened #20 "ESM "type": "module" throwing ERR_REQUIRE_ESM"
Related comments:
- https://github.com/astoilkov/use-local-storage-state/issues/19#issuecomment-772003609
- https://github.com/astoilkov/use-local-storage-state/issues/19#issuecomment-772177934

[2021-02-03 08:15] astoilkov commented on #19
@callumlocke @Luccasoli This issue is not related to the ES5 target. I created a new issue for that – #20. I fixed the issue in a new 8.0.0 release. You can upgrade now but you should do it manually because the `^7.0.0` constraint doesn't allow it.

[2021-02-03 08:27] astoilkov commented on #20
Next.js seems to currently not support ESM modules. This is why I reverted the `"type": "module"` with [this commit](https://github.com/astoilkov/use-local-storage-state/commit/33c5730c4fdc4fbfffb95d4c85e1f739e89d72ef).

[2021-02-03 08:27] #20 closed

[2021-02-03 10:01] Luccasoli commented on #20
@astoilkov now another problem has arisen :\, an image of the new error follows:

any of the dependencies / devDependencies I'm using:
    "typescript": "^4.1.3"
    "use-local-storage-state": "^8.0.0",
    "next": "10.0.6",
    "react": "17.0.1",

![image](https://user-images.githubusercontent.com/31039396/106730657-5e60f880-65ed-11eb-9b47-3d704f1fe710.png)

[2021-02-03 10:20] astoilkov commented on #20
@Luccasoli Fixes. Sorry for the inconvenience.

[2021-02-03 10:36] Luccasoli commented on #20
It worked, it was worth the support and congratulations for the library! :smile:

[2021-02-03 10:59] astoilkov commented on #20
@Luccasoli Thanks!

[2021-02-03 12:30] Luccasoli opened #21 "Unable to access data stored on localstorage on NextJS after reloading the page"
The problem only happens in the nextjs project on my machine (in the codesandbox only a warning appears on the console)

![image](https://user-images.githubusercontent.com/31039396/106747090-3334d400-6602-11eb-95cb-294669e3eaf5.png)

a minimal example of the problem, but as I said, in the codesandbox it only generates a warning, but in the project on localhost this photo error appears: https://cod

[2021-02-03 13:02] astoilkov commented on #21
Let me explain why this happens. When running the code on the server `useValue()` returns `undefined` but when run on the client the `useValue()` returns the value from the local storage. The server returns `undefined` because it doesn't have the `localStorage` available.

I am not sure if this can be improved or fixed. I will think about it.

If any other user seeing this has any ideas please sha

[2021-02-03 13:06] astoilkov commented on #21
From what I can see [here](https://www.reddit.com/r/learnreactjs/comments/emtl9c/having_trouble_with_state_and_using_localstorage/) it seems the only option is to exclude this component from SSR rendering. This is because there is no way to access the localStorage on the server.

[2021-02-04 11:26] Luccasoli commented on #21
I could understand your explanation, I am now doing my first project with nextjs and it was nice to know that he does this first execution on the back-end node,

I also do not know of other solutions that can do some management while running on the backend (and I also think that there is no way ...)

I think I will follow your suggestion and try to use dynamic import with SSR disabled, I believe i

[2021-02-04 14:58] astoilkov commented on #21
@Luccasoli I am glad I helped you get a deeper understanding.

I hope you are feeling much better today. 🤞

[2021-02-14 00:40] gragland opened #23 "Can cause hydration mismatch with SSR"
First off, really nice hook! One issue I'm seeing for SSR'ed apps is if the stored value affects DOM structure then there's going to be a hydration mismatch warning (for example `Warning: Expected server HTML to contain a matching <div> in <div>`).

One workaround:
[code]

Maybe we can include a section in the readme that covers this? I'm not sure if there's an elegant way for the to hook to handl

[2021-02-14 20:56] astoilkov commented on #23
Hi. I started thinking about this topic after the discussion in [one of the issues](https://github.com/astoilkov/use-local-storage-state/issues/21). You can read my thoughts there.

I've read the discussions in the links you provided – interesting content. I have one question that I'm confused about: Why the approach with `hasMouted` doesn't use `useLayoutEffect()`? Wouldn't this update faster and

[2021-02-14 21:35] gragland commented on #23
Good point. That does avoid the flicker, but results in a warning due to `useLayoutEffect` being run the server ([article about that](https://medium.com/@alexandereardon/uselayouteffect-and-ssr-192986cdcf7a)). I was able to work around that in the custom hook I'm using now:
[code]

[2021-02-15 09:28] astoilkov commented on #23
I like the approach. I will experiment with it and see if I can add an additional hook to the library.

BTW have you tried using `suppressHydrationWarning` property described [here](https://reactjs.org/docs/react-dom.html#hydrate)? I am wondering if it's a better solution in general when using `use-local-storage-state`.

[2021-02-15 09:34] astoilkov commented on #21
I am closing this issue in favor of https://github.com/astoilkov/use-local-storage-state/issues/23 because the discussion there started getting to the root cause and started discussing solutions. @Luccasoli You are welcome to subscribe and join it.

[2021-02-15 09:34] #21 closed

[2021-02-16 18:29] gragland commented on #23
Ah I didn't know about that, thanks! That seems to work fine for text content, but the issue is that there can be weird rendering bugs (like elements in the wrong place), when hydration doesn't match.

I like the API for the Material UI `useMediaQuery` hook. It does an extra render by default and has a `noSsr` option to disable: https://material-ui.com/components/use-media-query/#usemediaquery-que

[2021-02-17 18:02] astoilkov commented on #23
@gragland I am now convinced that I should find a solution to this. I will think about it and let you know. Thanks for the entire discussion.

[2021-02-25 18:58] astoilkov commented on #19
I thought a lot about this. I decided to not add support for ES5. These are my arguments:
- ES5 is an edge case. I don't know how much but I believe there is a very small amount of users that need this. IE takes 0.8 percent of the market share.
- It's not a deal-breaker. Users can still use @babel to transpile this module to ES5. This solution will be increasingly more popular as more modules don'

[2021-02-25 19:04] astoilkov commented on #23
I found a solution I like. A hook called `useSsrMismatch` that is general purpose and will work for similar problems. Here is pseudo code:
[code]

@gragland What do you think?

There are some questions I still don't have answers to:
- Do I open-source the `useSsrMismatch()` hook? Is it a common problem?
- Do I integrate this into the library or just update the docs saying how to solve this problem

[2021-02-27 21:14] gragland commented on #23
I really like the idea for `useSsrMismatch` and could see myself using it in custom hooks I write and when dealing with libraries that don't handle this. It seems like a much better solution than how I use `useHasHydrated` in my above example.

I think my preference would still be to have this integrated into the library and have it be opt-out like Material UI's `useMediaQuery` hook.

So maybe the

[2021-03-08 01:55] jesstelford opened #24 "Opt-out of cross-tab syncing?"
This library is fantastic, thank you!

I've come across a use-case where I need to opt-out of the cross-tab syncing, would it be possible to get a config option for this?

Here's the part I'm talking about:

https://github.com/astoilkov/use-local-storage-state/blob/master/src/useLocalStorageStateBase.ts#L80-L93

*My use-case*

I'm using `use-local-storage-state` to track recent URL paths visited.

[2021-03-08 18:40] astoilkov commented on #24
Isn't it true that if you use `useRecentPathsTracker()` at two places in your code the issue will appear without needing two tabs? This makes me think that the problem is not the syncing but that the `useEffect()` updates the value every time it changes. Using `setRecentPaths(recentPaths => {})` seems like a logical solution. Another way of fixing this problem is by making the `useEffect()` run on

[2021-03-14 19:06] tilman opened #25 "Enhancment: use window.name as fallback"
Hey, just wanted to discuss the Idea of using `window.name` as a fallback instead of a global variable.

`window.name` would have the advantage of being persistent for the whole javascript session (in particular for a page reload; but not across tabs) and is still available even if cookies are turned off.

If you think that would be a better solution I would be happy to create a merge request.

He

[2021-03-17 16:00] astoilkov commented on #25
That's an interesting idea. I didn't know `window.name` worked like that. Can you help me by answering some questions?
- When `window.name` is lost?
  - What about the different ways to refresh the page: using the address bar, using Reload Page, using Force Reload Page?
- Is the behavior of `window.name` consistent between browsers?
- Do you know some libraries that use `window.name` for persistin

[2021-04-03 18:36] astoilkov commented on #19
@davidgomes If you have any other thoughts I'll be happy to hear them.

For now, I am closing this issue for lack of activity.

[2021-04-03 18:36] #19 closed

[2021-04-03 18:37] astoilkov commented on #24
I'm closing this issue for lack of activity.

@jesstelford If you have any more thoughts on this I will be happy to reopen this issue.

[2021-04-03 18:37] #24 closed

[2021-04-20 18:29] probablyup opened #26 "state is not persisted to LS during initial render with defaultValue"
[code]

The above will not actually persist the default value to the local storage key until `setLocale` is called. I would expect the library to initialize the LS key with the default value if it doesn't already exist.

[2021-04-21 15:02] astoilkov commented on #26
Do you have a specific use case where you need for the value to be inserted into `localStorage` before calling `setLocale()`?

Here are the reasons why I did it this way:
- It's more data-efficient. No need to put data that can be retrieved from somewhere else.
- The `setLocale.reset()` method actually returns to the initial state which makes the `reset()` method consistent with the initial state.

[2021-04-21 15:11] probablyup commented on #26
Well I'd expect it to work like `React.setState` where once you set the value, it's persisted. Very confusing behavior for you to supply a default value and not have it automatically persist to LS. Like imagine you derive a user's locale based on what URL they land on etc and then want to persist that, feeding it in as the default value. Without this behavior the only way to get it to persist is t

[2021-04-22 13:10] astoilkov commented on #26
That makes sense. I will change the behavior. Thanks.

[2021-05-04 20:10] kolben commented on #25
https://developer.mozilla.org/en-US/docs/Web/API/Window/name

Wouldn't recommend it :smile:

[2021-05-05 11:14] astoilkov commented on #25
@kolben I read the article. Thanks.

Why you wouldn't recommend it? What are the reasons? Thanks.

[2021-05-05 13:17] kolben commented on #25
- The original article linked is 13 years old.
- The frameworks referenced in the mdn article are long gone and the article clearly says it shouldn't be used to store user data
- window.name will very soon [no longer be available across tabs/ windows](https://blog.mozilla.org/security/2021/04/19/firefox-88-combats-window-name-privacy-abuses/)

[2021-05-05 13:23] astoilkov commented on #25
@kolben Yep. That's pretty definitive. Closing this issue then. Thanks!

[2021-05-05 13:23] #25 closed

[2021-05-22 06:57] astoilkov commented on #26
@probablyup I made the change and release a new major release (because in some edge case it can become a breaking change) 10.0.0. Sorry for the delay!

[2021-05-22 06:57] #26 closed

[2021-05-24 04:08] saleehk opened #27 "react native support"

[2021-05-24 08:14] astoilkov commented on #27
I don't have knowledge of React Native. Do you have ideas on what should be done to add support?

[2021-05-24 18:08] probablyup commented on #26
@astoilkov thank you!

[2021-06-23 08:50] mayank-budhiraja commented on #27
Hello @astoilkov I can assist with react-native support. Happy to help :)

[2021-06-23 08:52] astoilkov commented on #27
@mayank-budhiraja Can you describe in a few sentences what changes are required in order to support react-native?

[2021-06-24 10:36] mayank-budhiraja commented on #27
@astoilkov Mainly it will related to storage only. Components and Functions seems fine. Let me run an example and get back to you with approx changes.

[2021-06-24 13:21] astoilkov commented on #27
Questions:
- Can the storage functionality will be sync? Otherwise, it would be much harder to do.
- Can the storage functionality be done without an external library? Otherwise, the package size will grow in order to support more a rare case.

[2021-07-13 14:57] mayank-budhiraja commented on #27
@astoilkov

- Please, check out the link to test for react-native -> https://snack.expo.io/10B7LjH3V
- I ran the tests and reached on the conclusion we need to make the environment specific or mock the browser env.
- For example, I encountered error related to window.addEventListener
- window.addEventListener isn't provided by React Native on iOS/Android
- We will need to mock the listener like (w

[2021-07-15 10:13] Fxlr8 opened #28 "expose storage object"
Hi, it would be very handy in my case to be able to consistently read from the local storage outside of React scope. Could you please export the storage object?

[2021-07-16 08:43] astoilkov commented on #27
Thanks.

I researched this more. I think it's more appropriate to make another module that is React Native only. There are just too many things that are React Native specific. This will lead to a significant increase in complexity and bundle size.

If you are interested, you can make a fork of this repo and add support for React Native. If you support both platforms, I will add the repo in the Alt

[2021-07-16 09:04] astoilkov commented on #28
Do you mean the memory storage object? Can you use it by importing it via `import storage from 'useLocalStorageState/src/storage'`?

[2021-07-16 10:59] Fxlr8 commented on #28
I tried
<img width="484" alt="image" src="https://user-images.githubusercontent.com/10725007/125937677-4e943fe0-b695-408a-9035-bd5ab2cb60f3.png">

[2021-07-16 11:09] astoilkov commented on #28
Here is a CodeSandbox example showing how you can make it work: https://codesandbox.io/s/todos-example-forked-di7u8?file=/src/App.tsx

[2021-07-16 11:44] Fxlr8 commented on #28
Thank you for the example, but I am still not sure what am I doing wrong here. I am not using create-react-app. Does it have something to do with webpack config or tsconfig?

[2021-07-18 15:56] astoilkov commented on #28
Aha. I think I know the reason. You are probably not on the latest version. Can you try to upgrade and try again?

[2021-07-24 16:40] Dalez commented on #23
Did this get anywhere? I'm also running into the same problem.

I like the noSsr feature suggested above and I also agree that it would be good to include it in the library so that developers don't have to go out of their way to "fix" the issue when using NextJS or Gatsby and could flick an option on instead :)

[2021-07-26 08:14] astoilkov commented on #23
The current state is — I like the idea and I am willing to implement it. I will post here when I start working on it.

[2021-09-02 14:46] astoilkov commented on #28
@Fxlr8 I hope you found the reason it wasn't working for you. Let me know if you haven't.

I am closing this issue for now.

[2021-09-14 01:19] AlexLeung opened #30 "Hooks sets localStorage value to string 'undefined' rather than doing nothing."
[code]
this outputs
[code]
this should ideally output
[code]
Why is the hook updating local storage when the client code never instructs it to do so?

[2021-09-14 06:54] astoilkov commented on #30
This is caused by the change that was made when resolving https://github.com/astoilkov/use-local-storage-state/issues/26.

Probably I should not write the value on the initial render when a value isn't passed.

[2021-09-14 09:59] #30 closed

[2021-09-16 02:06] dalmo3 commented on #24
I wrote a custom hook to achieve tab independency* by only reading from local storage on mount, but still writing to it:

[code]

*Of course that's not exactly session independency, it syncs on mount so navigation can still affect it, but it prevents tabs 'talking' to each other like the OP's issue.

[2021-09-16 07:23] astoilkov commented on #24
@dalmo3, can you share what is your use case? Why do you want to opt out of cross tab syncing?

[2021-09-16 12:51] dalmo3 commented on #24
I have some tables that I can filter/sort and wanted to visualise them side-by-side with different filters on, while still saving the last state.

To be fair, given the caveat I mentioned about navigation, I still needed to handle unmounting so I ended up employing a mix of sessionStorage and localStorage, but that might digress too much from the original issue.

[2021-09-17 08:55] astoilkov commented on #24
Thanks for the info.

Just a quick question about your use case. If you have two tables, do you bring both tables back when the user reopens the webpage? Because in this case you can assign ids for each table and keep both filters in localStorage. Just an idea.

[2021-09-19 22:30] dalmo3 commented on #24
Sorry, I wasn't clear. The side-by-side view was for the same table, with different filters applied.

[2021-09-20 13:12] astoilkov commented on #24
How are they side-by-side and still be the same table? Do you have two windows opened side-by-side(split-screen) on the same page?

[2021-09-20 23:22] dalmo3 commented on #24
Yes, it's two tabs (that's the point of this whole thread)... How I organise the windows is irrelevant.

[2021-09-21 07:00] astoilkov commented on #24
Yep, you are right. Sorry. I might have asked too many irrelevant questions. Your use case makes sense. I will think about it more. Thanks!

[2021-10-20 14:30] h3rmanj opened #31 "Debouncing updates produces weird behaviour"
Using the hook returned from `createLocalStorageStateHook` produces weird behavior when debouncing updates.

Using a controlled input, with debouncing using a useEffect, the updates eventually propagates to all components (not always all) using the state.

Using an uncontrolled input, with normal debouncing, the updates seemingly propagates randomly to the components using the state.

LocalStorage

[2021-10-21 11:40] astoilkov commented on #31
Thanks for reporting this and all the detailed information. I think I should fix this. It's both slow and buggy for React 17 which I believe will be popular for some time. At some point, I will remove it.

[2021-11-12 19:29] #31 closed

[2021-11-12 19:35] astoilkov commented on #31
I fixed the issue and released an update. Thanks for the time to report and investigate the issue!

[2021-11-12 19:44] astoilkov commented on #30
I just made a new release that includes the change. Thanks for reporting!

[2021-11-12 20:10] astoilkov commented on #27
I am closing this issue as it lacks activity.

@mayank-budhiraja If you decide to work on a react-native version, let me know so I can add it to the readme.

[2021-11-12 20:10] #27 closed

[2021-11-20 08:03] chrbala commented on #23
I have form state persisted with useLocalStorage + SSR. The server was initializing the form with the initial state, and the form wasn't updating until the first interaction, since React wasn't re-rendering until a client-side state change.

This could probably be fixed by a forced re-render when the component mounts, but I chose instead to lazily wait to render the whole element when the page loa

[2021-11-20 08:36] chrbala opened #32 "Returned value should be unknown type"
The `value` in `[value, setValue] = useLocalStorageState('key')` can be updated outside of the closure: dev tools, different app versions, different parts of the app with the same key, etc. To avoid runtime errors, `value` should therefore be typed as `unknown` so that assertions (or coercions) are explicitly made before treating the output type the same as the input type.

[2021-11-21 20:34] #32 closed

[2021-11-21 20:35] astoilkov commented on #32
I agree. I've made the change. Thanks for the idea!

[2021-11-21 21:07] astoilkov commented on #23
@chrbala You are proposing instead of having `{ ssr: boolean }` property (the previously proposed solution) to have a `serverValue` as a third parameter. Am I understanding correctly?

If yes, I am wondering why not just use `initialValue` as the `serverValue`? Maybe there is a scenario that this won't be logical but I can't think of such. Do you have an example in mind?

[2021-11-23 03:14] chrbala commented on #23
Yeah, that's what I was thinking. That may not be the optimal API though. The main thing for me is that it's not clear exactly what `{ ssr: boolean }` does, or even when I'm supposed to mark the flag. Some ambiguity:
* Do I mark it as `true` if I'm using SSR?
* What happens if I mark it as false, but I'm actually using SSR? What happens if I mark it as true, but I'm not using SSR?
* Can we use a c

[2021-11-25 12:21] astoilkov commented on #23
Nice. I believe in the idea that the right questions lead you to the correct answers. Those are very good questions. Thank you!

[2021-11-26 11:25] chrbala commented on #32
It looks like [the change](https://github.com/astoilkov/use-local-storage-state/commit/2f8c0e8c1693db8952f3b9f3a7a1d6e80b6e9612) typed it as `[unknown, UpdateState<unknown>]`, but actually it's valid to type it as `[unknown, UpdateState<T>]`. That will _enforce_ the types going in to the state, but will not _guarantee_ the types coming out.

[2021-11-26 11:38] astoilkov commented on #32
Hmm. But you don't know the types going into the state. My understanding is that there isn't a practical difference between `UpdateState<unknown>` and `UpdateState<T>` because of the other overrides that capture the other cases where we know the type. Am I wrong? Can you show an example where there is a difference?

[2021-11-26 11:52] chrbala commented on #32
Ah, looks like you're right, I missed that. Thanks!

[2021-12-09 22:28] tnrich opened #33 "Default value ignores/overwrites previous localStorage state"
Hey there,

I am confused by the behavior of the `defaultValue` prop. I would imagine that say for the key of 'color', setting a defaultValue of 'red', would _only_ set the attribute to 'red' if no other value was set for color already (in localStorage in my case).

Here's an example of what I find confusing:
![image](https://user-images.githubusercontent.com/2730609/145485689-41bb902e-f300-4f23-b

[2021-12-10 09:18] astoilkov commented on #33
Wow. That's actually a very bad bug. I fixed it and published a new release.

Thanks, @tnrich!

Closing this issue.

[2021-12-10 09:18] #33 closed

[2021-12-10 20:27] tnrich commented on #33
Awesome thanks @astoilkov !!

[2021-12-12 19:37] snelsi opened #34 "[Suggestion] Add github repo link to package.json"
VS Code has nice integreation with `homepage` prop defined in `package.json`.

If `homepage` link is defined in `package.json`, it will show it on hover:

<img width="572" alt="Снимок экрана 2021-12-12 в 21 27 53" src="https://user-images.githubusercontent.com/15171036/145726602-0f9c474a-f87a-4865-9f1e-08006f403e11.png">

But sadly, this repo doesn't have a homepage link:

<img width="316" alt="Сн

[2021-12-12 21:09] astoilkov commented on #34
Thanks for the pull request. I am closing this issue.

[2021-12-12 21:09] #34 closed

[2021-12-13 19:12] tnrich commented on #33
@astoilkov just had time to test it and v13.0.0 doesn't appear to actually fix it: https://codesandbox.io/s/dreamy-cori-yh6y5

Still seeing the same issue. Not sure why the fix didn't take but you'll need to look at this again.

Thanks!

[2021-12-13 20:07] astoilkov commented on #33
I see another problem, not the same one. Also, clicking the button does nothing?

[2021-12-13 20:10] astoilkov commented on #33
To explain further. I know see how it works as expected but you will need to call `JSON.stringify()` on the colors in order to see them populated in the library. I can improve on that. I will think about how.

Can you explain what problem you see when you click the button?

[2021-12-13 20:39] tnrich commented on #33
@astoilkov sorry I must have made a mistake. I could have sworn v13 had the same problem as v12 but after looking again, it does seem v13 is working (sort of). On v12 pressing the button causes the text to be updated.

Is the other problem you're referring to is that the color and name are still getting displayed incorrectly?
![image](https://user-images.githubusercontent.com/2730609/145885021-759

[2021-12-15 09:00] astoilkov commented on #33
No problem. It may have been caused by some Code Sandbox caching issue and you could have been running the older version without knowing.

Yes. Let me explain why this happens. When `use-local-storage-state` is storing and retrieving something into the state it uses `JSON.stringify()` and `JSON.parse()` to retrieve it. When a string is stored, it is stored with quotes `"red"`. In your case the val

[2021-12-15 17:30] tnrich commented on #33
@astoilkov ok I see.. I played around more with the codesandbox and was able to reproduce what you described above:
https://codesandbox.io/s/headless-sun-rkjz3?file=/src/App.js

I personally think that this is a gotcha and not what I would have been expecting. I'm not sure what the best solution is but it definitely feels funny to me that the localStorage value is being stored as a string with quo

[2021-12-16 08:22] astoilkov commented on #33
I can think of one problem. If you save the string `true` or `3` then it will be treated as a string but you could have meant it to be boolean or number because `JSON.stringify()` produces the same result. I can make it a fallback — if `JSON.parse()` throws an error and fails then interpret it as a string.

[2021-12-16 21:50] tnrich commented on #33
@astoilkov
Hmm..
I can't say I like either option much. Simple values like booleans and numbers should be supported still. Also assuming a string on a JSON.parse() fallback still means that if no value were set in localStorage, then use-local-storage-state would add its defaultValue as a string wrapped in quotes (at least I think that is the implication).

Ideally a solution would support booleans

[2021-12-18 13:37] astoilkov commented on #33
I agree. I also don't like either option.

I don't like the option either. Let me explain why:
- I think that an option is not the right balance between complexity in the library and what the developer can handle on its own. For example, a user of the library can do one of three things:
  - Use `JSON.parse()` and `JSON.stringify()` to store your values
  - Import the storage object from `use-local

[2022-01-02 13:30] deelobase opened #36 "Deploy your app for free 🚀"
Hey @astoilkov, I'm just stopping by to say great work and to make a recommendation! Will you need to host your app in the future? If so, I'd highly recommend using [DeeloCloud](https://www.deelo.cloud). It's built for developers, it's super easy to use, and you won't have to manage servers - which means you can focus on building!
Here's how it works in a few steps:

After signing up at https://de

[2022-01-02 14:27] #36 closed

[2022-01-07 10:44] astoilkov commented on #23
I started working on this.

If you are one of the people who is waiting for this, you can upvote this comment.

[2022-01-07 13:48] astoilkov commented on #23
I've created a draft implementation — https://github.com/astoilkov/use-local-storage-state/commit/2bcbc5217fe0dd2be5c706feeb2c48afa8d52a3a.

However, I will need some feedback. Any willing to take a look at it? I am wondering about:

- Can the names of the methods be improved?
- Do you agree that the methods are separate? This approach improves both performance and bundle size.
- Does the implemen

[2022-01-08 02:55] nxtman123 commented on #23
@astoilkov I tried the draft implementation in my project just to test it and was able to get it working

- I can't think of better names, but they're not amazing either.
- Are the bundle size and performance improvements just for client-only apps over those apps that use the ssr versions?
- I see the optimization you mentioned. The code makes sense to me.

I know this is a draft, but `src/createS

[2022-01-10 09:39] astoilkov commented on #23
Yes, I will try to think of better ones.

Yes. For the apps that don't use server-side rendering.

Perfect. Thanks for this and for all the feedback.

Yes. I will fix this.

[2022-02-12 13:56] astoilkov commented on #23
### 🎉 🎉 🎉

I'm ready and I've published a pre-release of the new version. The new version is a complete rewrite. I will explain in detail why I decided to make the change after I receive some feedback. The new version can be installed by running `npm install use-local-storage-state@next` and the documentation can be found at https://github.com/astoilkov/use-local-storage-state/tree/future.

Any fe

[2022-02-15 19:21] astoilkov commented on #23
I released 14.0.0 with hydration mismatch support. The library is now 30% smaller in size as well.

I hope this release makes this local storage hook the most popular 😇.

Closing this issue. Thanks to all who participated and helped.

[2022-02-15 19:21] #23 closed

[2022-02-16 13:06] ha-ku opened #37 ""ReferenceError: localStorage is not defined" when upgrading to v14.0.0"
I'm writing a Next.js SSR project and I'm using this package for storing dark mode preference in local storage.
After upgrading to v14.0.0, I changed my code into something like this:
[code]
This results in the ReferenceError mentioned in the title.

More logs:
[code]
Seems like `localStorage.getItem(key) === null` leads to this problem.

Am I using the new version of this package in the right way

[2022-02-16 13:11] astoilkov commented on #37
Oops, sorry, fixing it right away. I will notify you soon.

[2022-02-16 13:19] #37 closed

[2022-02-16 13:26] astoilkov commented on #37
Done a new release is available. Sorry for the inconvenience.

[2022-02-16 13:27] astoilkov commented on #37
By the way, I would recommend moving `createLocalStorageHook` outside of the component — you can look at the example usage in the readme.

[2022-02-16 13:37] ha-ku commented on #37
I'm thinking about this too. How much does the position of `createLocalStorageHook` matter? Actually I'm also using this package in another hooks I wrote for my project, which makes it a little hard to move all of them outside the component. If this is strongly advised, I probably need to redesign those hooks for this.

[2022-02-16 13:45] astoilkov commented on #37
You just need to know that you shouldn't change the argument passed to `createLocalStorageHook`. Changing the `key`, `ssr` or `defaultValue` will break the code. So changes will break it in a subtler way than others.

However, from what I'm hearing you are probably changing the `key` maybe as this is one of the reasons it may be hard to refactor?

[2022-02-16 14:46] ha-ku commented on #37
It just feels like writting something like `const useSomeState = () => useState(someDefaultValue)` outside a component, which seems a little confusing for me.
For example, if I need to let the user choose their city in a list. The default city may depend on which contry the user chose before. The code might be something like this right now:
[code]
 How could the code be properly written under circ

[2022-02-16 15:56] discosultan opened #38 "[v14] How to use a hook for default value"
For example, in v13 I had the following code:

[code]

In v14, I need to create the local storage hook first at the top level like this:

[code]

What's a workaround? Could the API be changed to accept a default value through the generated hook instead?

[code]

[2022-02-17 07:38] astoilkov commented on #38
I think you are right. I've probably made a mistake with this API. Give me a little while to think. I will experiment with reverting back to using a `useLocalStorageState` hook.

[2022-02-17 07:39] astoilkov commented on #37
I think you are right. I've probably made a mistake. Keep an eye on this issue — https://github.com/astoilkov/use-local-storage-state/issues/38. I will post any updates there.

[2022-02-18 13:59] astoilkov commented on #38
Done. I've released v15 which reverts to `useLocalStorageState` hook.

I should admit the new design is better (also with a smaller bundle size). I should also admit that I feel a little dump. I though a lot about the change but failed to recognize that the answer to the original question I had changed with the new implementation. Somedays you think you are a great developer and somedays 💩. Thanks

[2022-02-18 17:42] ha-ku commented on #38
Thanks! I'm already using v15 in my project. It works fine for me now!

[2022-02-23 17:38] Bradzer opened #39 "State in local storage not restored after page reload with SSR"
I'm using Next.js with SSR.

After saving my form data in local storage and refreshing the page, my form renders with the default values and not the values saved in local storage, although I have the option ssr enabled.

Here's the relevant part of my code:
[code]

Is there something I'm doing wrong ?

[2022-02-24 18:51] Bradzer commented on #39
@astoilkov I tried to check if it was really the reason why.

[code]

Here's is the order of logs I got after submitting the form:
[code]

So it seems like the data is well stored in `localStorage` as it should before the render. Yet the form renders the default data once I refresh the page.

It got me thinking that maybe `Formik` (which is the library I'm using for my forms) was involved and some

[2022-02-24 19:54] astoilkov commented on #39
Aha. Yes, that makes sense. Because `ssr` option first renders the default and then updates. Otherwise, you will get a hydration mismatch error.

Do you think there is something to do about this or should I close this issue?

[2022-02-24 20:03] Bradzer commented on #39
@astoilkov you can close the issue. As far as I'm concerned I got it working so it's fine for me.
Thank you ;)

[2022-02-24 20:37] #39 closed

[2022-03-11 20:08] paulmelnikow opened #42 "Additional type exports"
Hi there, and thanks for this great library! Have just upgraded from v6 to v15 and it seems to be working well.

Since `createLocalStorageStateHook()` has been removed and I was using it in one place, I replaced it with my own function, which I needed to annotate with my own types. I ended up checking this in:

[code]

Would you consider using / exporting these types from the package? I'd be happy

[2022-03-12 08:50] astoilkov commented on #42
Great idea. Thanks! I will do it, no need for a PR. I will write you when I'm done.

[2022-03-12 09:15] #42 closed

[2022-03-12 09:16] astoilkov commented on #42
Done. You can see the [implementation](https://github.com/astoilkov/use-local-storage-state/commit/40a2f0ce4a569a807fc56c8239dff4a7b7ffe26e) and share your thoughts.

[2022-03-12 19:10] paulmelnikow commented on #42
Wow, that looks great! And thanks so much! I look forward to giving it a try.

[2022-03-13 09:50] astoilkov commented on #42
Great! I will make a new v16 release soon.

[2022-03-13 19:22] strarsis opened #43 "Async storage lookup/default value issue"
@astoilkov: A React app can have a query parameter (e.g. `?appId=123`) which is persisted using this `use-local-storage-state` hook.
A default value is also set (`-1`). When the state is `-1`, an error is thrown (no App ID is set, the app needs an App ID to function).
The problem is that the `use-local-storage-state` is asynchronous: In the first render the value is still the default value (`-1`),

[2022-03-14 15:34] astoilkov commented on #43
I think your case will be fixed when https://github.com/astoilkov/use-local-storage-state/commit/762fe4f413d5bd0805eab7e8e22bf1b0875d7218 lands in v16. I will write here when that happens so you can test it. How does that sound?

[2022-03-14 15:42] strarsis commented on #43
@astoilkov: That seems to be exactly what I want! I install directly from `master` and try it out.

[2022-03-14 16:16] strarsis commented on #43
@astoilkov:
The app build currently fails - probably because the `main` source is TypeScript and has to be compiled:
[code]

[2022-03-14 16:18] martinsantibanez opened #44 "Setter in useEffect dependencies array always changes"
Hello, not sure if this should be taken as a bug or just a question.

Whenever I'm updating the localStorage state inside an effect, I cannot put the setter in the dependencies array. Otherwise, it causes infinite renders.

My workaround is to exclude the setter from the deps array. However, this is a bit unfortunate due to the `react-hooks/exhaustive-deps` eslint rule.

How do you deal with this?

[2022-03-14 17:17] #44 closed

[2022-03-14 17:17] astoilkov commented on #44
I've fixed the issue. Thanks for yet another contribution!

[2022-03-14 17:18] astoilkov commented on #43
I will soon make a new release. I will write you then so you can try with it.

[2022-03-14 17:19] strarsis commented on #43
@astoilkov: Ah, that would be great! I was just diving into the `react-app-rewired`-`webpack`-`typescript-loader` rabbithole. 🐱

[2022-03-14 18:19] astoilkov commented on #44
I've released v16. You can try it out and let me know if everything works correctly.

[2022-03-14 18:45] strarsis commented on #43
@astoilkov: Alright, I installed `v16`, but the default value is still used at first render. Am I missing something?

[2022-03-14 19:13] strarsis commented on #43
Sure!
[code]

[2022-03-14 19:36] astoilkov commented on #43
Hmm. I can't seem to replicate the issue. Here is the CodeSandbox I've experimented with: https://codesandbox.io/s/todos-example-use-local-storage-state-forked-s03chx?file=/src/App.tsx. Can you modify it in order to replicate the problem?

[2022-03-14 20:53] strarsis commented on #43
@astoilkov: Thanks for your help! So I forked and modified your example a bit so the issue occurs (as in the app):
https://codesandbox.io/s/todos-example-use-local-storage-state-forked-x1qf53?file=/src/App.tsx
Am I using it wrong? When you check the console you see the default value `-1` (I set the default value to `-1` so I can mentally compare it with the app that has the same issue) and the err

[2022-03-15 09:36] astoilkov commented on #43
You modified the example in a way where the `defaultValue` equals the actual value in `localStorage` — `-1`. This behavior is expected and not a bug.

If you place `localStorage.setItem('value', JSON.stringify(1))` after the import statements you will see that the error disappears — https://codesandbox.io/s/todos-example-use-local-storage-state-forked-0v3ti7.

[2022-03-15 19:13] strarsis commented on #43
@astoilkov: This may explain the issue: I have a misunderstanding of how `use-local-storage-state` should be properly used.
https://codesandbox.io/s/todos-example-use-local-storage-state-forked-e6e8qu?file=/src/App.tsx

[code]
So instead of using `setValue` (the setter method in the array returned by `useLocalStorageState(...)`,
I have to use `localStorage.setItem('value', [...]);` instead?
So `se

[2022-03-16 06:47] #43 closed

[2022-03-16 06:50] astoilkov commented on #43
I should appologize as I didn't see the problem because it happens only on the first render after the `key` is changed. I've fixed the problem. Can you upgrade and let me know if it works?

[2022-03-17 10:28] astoilkov commented on #43
Ok. I think I know what is happening so I will chronologically explain what happened until now.

## in version 15.0.0

In this version two bugs exist:
1) `useEffect()` and `useLayoutEffect()` are called twice when `ssr` is set to `true`
2) calling `setValue()` during render doesn't work (works only in useEffect() and useLayoutEffect())

## in version 16.0.0

The 1. bug was fixed.

## in version 16

[2022-03-17 13:56] strarsis commented on #43
@astoilkov: Thanks!
One question: When `SSR` is actually used and a hydration mismatch occurs (as the server side uses a different/initial value than the client in its storage), would this also result in a 2x rendering, with initial, then set value?
Can the hydration mismatch be completely avoided when using SSR? I am just asking because I wonder how apps that use SSR can handle this problem.

[2022-03-17 14:55] astoilkov commented on #43
You can read more here: https://reactjs.org/docs/react-dom.html#hydrate.

Conclusion is — you can avoid it by setting the `suppressHydrationWarning` but it's not recommended. You can read in the article why.

[2022-03-17 17:18] tnrich commented on #33
Hey @astoilkov I really wanted the strings to "just work". I also was saddened that other changes to localStorage (in the same tab) wouldn't be registered by use-local-storage-state. Because of that I decided to fork this repo and add some custom fixes - https://github.com/tnrich/use-local-storage-state

You can play with the differences between the two libraries here: https://codesandbox.io/s/tod

[2022-03-17 17:26] tnrich opened #45 "Does not respond to changes to localStorage made elsewhere in the application"
Just a heads up for other users of this library that it does not respond to changes made to localStorage from within the same tab unless those changes are made via the hook.

You can see an example of that here https://codesandbox.io/s/todos-example-use-local-storage-state-forked-uppgko?file=/src/App.tsx:0-41
by toggling between the two libraries on lines 1 and 2.

[2022-03-18 10:10] astoilkov commented on #33
Looks good. It's great to see people extending this library to make it satisfy their needs and use cases.

[2022-03-18 10:20] astoilkov commented on #45
Cool. If anybody is interested in the additional features here is the link to the fork: https://github.com/tnrich/use-local-storage-state.

I will close this issue now because there isn't an actionable item here. I hope people who are interested in these features can find your fork.

[2022-03-18 10:20] #45 closed

[2022-03-18 15:13] tnrich commented on #45
Sounds good thanks @astoilkov

[2022-03-23 15:24] rwieruch opened #46 "Persist in localStorage, but do not upgrade React state"
Hi @astoilkov thanks for this great library.

I ran into an edge case and was wondering if that's a feature you may wanna support in the future:

In my case, I want to call `setValue` for storing the value in local storage, but not the update React's state. In other words, when calling `setValue`, I do not want a state update and thus no re-render.  I only want to use useLocalStorageState to write

[2022-03-23 16:06] rwieruch commented on #46
My workaround at the moment:

[code]

[2022-03-23 17:16] astoilkov commented on #46
I understand your scenario. Give me some time to think about this. I've seen people wanting to get the state only initially and then don't update it but I should think if there is a unifying solution that can fit all scenarios.

[2022-03-27 10:14] astoilkov commented on #46
Is this solution going to work for you:
[code]

As my users have written about the same problem I'm thinking of updating the readme. If this solution works for you I would think about explaining this scenario. The solution seems simple and elegant.

[2022-03-27 13:37] MichaelAllenWarner commented on #23
@gragland

That's brilliant and seems to eliminate the flicker altogether on initial render.

I'm looking at making the following React Context and wrapping an entire SSG NextJS app in its Provider:

[code]

Solves the server-vs-client thing efficiently—i.e., globally, immediately, and in a way that forces only the Context-subscribed components to re-render—and the hook doubles as a convenient "is

[2022-03-27 14:23] MichaelAllenWarner commented on #23
Hm, I think I spoke too soon: the `useLayoutEffect` only eliminated the flicker in development, not in production (presumably because of the time required to download and execute the JS). Still, it's probably the way to go if it doesn't cause problems.

[2022-03-27 14:24] astoilkov commented on #23
Did you see that there is an `ssr` property now that handles all this automatically?

[2022-03-27 14:35] MichaelAllenWarner commented on #23
@astoilkov Sorry for the confusion—yes, I saw that part of the discussion, but I'm not actually using your hook. I just stumbled on this thread when researching the problem. My use-case is setting up a single app-wide flag for checking server-vs-client on an SSG NextJS site.

[2022-03-30 12:42] astoilkov opened #47 "React 18 support (created by library author)"
I will use this issue to track the progress of implementing React 18 support for this hook. For now, I know of one bug that exists when the new concurrent renderer is enabled.

I will post any progress here.

[2022-04-02 10:44] astoilkov commented on #47
After I've done some research I will post the tasks I suspect are part of the support:
- [ ] implementation should be based on `useSyncExternalStore`
- [ ] remove manual handling of hydration mismatches. `useSyncExternalStore` should handle all that now.
- [ ] remove manual handling of `activeHooks` and force updating all other hooks with the same `key`. `useSyncExternalStore` will also handle thi

[2022-04-04 09:34] ha-ku commented on #47
For the last one, React team seems to provide a backwards compatible shim for `useSyncExternalStore` (see [this npm package](https://www.npmjs.com/package/use-sync-external-store)). Is this suitable here?

[2022-04-04 09:47] astoilkov commented on #47
@ha-ku Yes, it is. However, I'm concerned the shim will double the bundle size of the hook which isn't a no-go but it is something worth considering.

[2022-04-04 10:06] ha-ku commented on #47
Indeed. Maybe the way to find the answer is simply making a test version with the shim. Then we'll find out how much the bundle size get influenced. Of cource, this should be something after the implementation with `useSyncExternalStore` getting finished.

[2022-04-04 10:07] astoilkov commented on #47
Yep, I totally agree. I will do some experiments and probably publish a beta version on npm.

[2022-04-07 02:10] marcosvspimenta opened #48 "I have a problem using the use-local-storage-state"
I have this problem here.  https://stackoverflow.com/questions/71759515/icons-are-not-showing-after-clicking-close

I think it's because of use-local-storage-state

Can anybody help me?

[2022-04-07 07:08] astoilkov commented on #48
Can you try to upgrade to version 17.0.1 (I just published it) and see if the issue still persists?

[2022-04-07 08:07] astoilkov commented on #46
Hey @rwieruch. Just a reminder. Did you have time to see what I'm proposing?

[2022-04-07 09:29] astoilkov commented on #48
I've tried running the CodeSandbox example you provided in the StackOverflow question but the demo is throwing a lot of errors. See below:
<img width="889" alt="CleanShot 2022-04-07 at 12 23 56@2x" src="https://user-images.githubusercontent.com/884810/162167114-0e54d203-360a-40c0-9d19-9893714677f6.png">

Also I tried forking the example and running it and this caused other errors. See below:
<img

[2022-04-07 16:18] marcosvspimenta commented on #48
I don't know what happened but now it's gone in https://codesandbox.io/embed/determined-monad-v4cp38?fontsize=14&hidenavigation=1&theme=dark

and the error can be reproduced

[2022-04-07 16:42] marcosvspimenta commented on #48
I see it now, I'll see what I can do to fix it.

[2022-05-09 10:04] nepomuc opened #50 "Hydration error with ssr:true using NextJS"
Using next 12.1.6 and react 18.1.0 I get a hydration error when using use-local-storage-state, even though I'm using the ssr:true option.

I'm setting it up like that:

[code]

And I'm using it like that to show a div when `introductionFinished` is true:

[code]

Here's my error log:

[code]

[2022-05-09 11:31] astoilkov commented on #50
Will it be hard for you if you send me a Git repo that replicates the problem?

[2022-05-10 16:00] nepomuc commented on #50
@astoilkov Here you go: https://github.com/nepomuc/use-local-storage-state-issue-50-reproduced

Created this repo for reproducting this issue. I put some instructions for you into the README.md, so you can easily reproduce the hydration error.

Thanks in advance!

[2022-05-11 07:48] astoilkov commented on #50
I found out what the problem is. As I suspected, SSR doesn't work in React 18. I've written about what are the steps for supporting React 18 [here](https://github.com/astoilkov/use-local-storage-state/issues/47). However, this issue raises the priority of the task. When I switch to `useSyncExternalStore()` API the issue will be fixed automatically.

Thanks for the repo and detailed information. I

[2022-05-13 18:55] rhythmbhiwani opened #51 "need guidance for using sessionStorage also"
For some of my usecase, I also need support for using sessionStorage also, but this library seems to focus only only on local-storage. Can you please guide me how can I convert it to use both local and session storage based on some parameters. I can fork the repo and change it in that repo, so that this library can focus on local storage

[2022-05-14 09:03] astoilkov commented on #51
I'm working on a branch, that's mostly done, that will allow specifying a `storage` option. You can then pass `sessionStorage` to the option. You can take a look at it here: https://github.com/astoilkov/use-local-storage-state/tree/storage-option#optionsstorage.

[2022-05-14 12:20] Miloshinjo commented on #50
I have the same error and it's cause Im using React 18. I decided to wait for the new version, but in the meantime, I have got around the problem by doing `useIsClient` hook before my html renders. Since it's a side project and not in production yet, I'm not in a rush and workaround does me just fine.

[code]

[2022-05-21 21:33] saiichihashimoto opened #52 "Return isPossiblyHydrating"
There's no good way to be certain whether we're still hydrating or not, except for also keeping track of first render in our apps, which is not good. It would make sense to receive that is a value so we can use that within our "loading" states.

[2022-05-22 12:46] astoilkov commented on #52
What do you think about that?
[code]

I'm hesitant to provide this because I think it's possible to remove the variable altogether [in the next release](https://github.com/astoilkov/use-local-storage-state/tree/react-18). However, I'm still not sure.

[2022-05-22 17:52] saiichihashimoto commented on #52
The issue is specifically that I need to manage if your hook is "loading" on my own and I have to do it by managing copying how you're determining that, which is using a first render ref. The issue with your solution is that it's more an illustration of my problem rather than my solution. I don't want to maintain logic copying the internals of your hook's loading state that, if useLocalStorageStat

[2022-05-24 06:53] astoilkov commented on #52
Ok. Got it. Let me see how the React 18 support implementation is going. I want for both React 17 and React 18 to have a unified API and I'm not sure if I will be able to have this variable in the React 18 implementation.

[2022-05-28 05:45] astoilkov commented on #48
@marcosvspimenta Did you find out the problem?

[2022-05-28 15:35] astoilkov commented on #47
This is now complete. The new version supports React 18. Closing this.

[2022-05-28 15:35] #47 closed

[2022-05-28 15:36] astoilkov commented on #50
This issue is now fixed. The new version of use-local-storage-state supports React 18. You can upgrade.

I will close this issue but please let me know if you have a problem with the new version.

Thanks!

[2022-05-28 15:36] #50 closed

[2022-05-28 15:41] astoilkov commented on #46
I'm closing this because of a lack of activity.

[2022-05-28 21:47] nepomuc commented on #50
@astoilkov Works like a charm. Thanks a lot! 👍

[2022-05-29 05:45] astoilkov commented on #52
Ok. I'm done with the React 18 implementation. I won't implement the proposed property because React 18 have a way of knowing if you are hydrating or not, React 17 doesn't. This means that the API for the two versions will be different (`isPossiblyHydrating` in React 17, and `isHydrating` in Reat 18) and upgrading and consistency will suffer.

Additionally, I can actually guarantee that the logic

[2022-05-29 05:45] #52 closed

[2022-06-04 08:47] astoilkov commented on #48
I'm closing this because there is a lack of activity. I will reopen if there is a new comment.

[2022-06-04 08:47] #48 closed

[2022-06-06 11:26] astoilkov commented on #51
I will soon post a solution for this. Thanks for the patience.

[2022-06-06 21:40] martinsantibanez commented on #47
Hi @astoilkov
will you keep providing support for React 17?

Thanks again

[2022-06-07 08:08] astoilkov commented on #47
@martinsantibanez Yes. I will be helping people if they have problems. I will make fixes. I am also willing to implement new small features — nothing big.

[2022-06-10 06:32] #51 closed

[2022-06-10 06:34] astoilkov commented on #9
Hi all,

For people interested, I've published a [`use-session-storage-state`](https://www.npmjs.com/package/use-session-storage-state) package. The repo — https://github.com/astoilkov/use-session-storage-state.

[2022-06-27 14:24] dkershner6 opened #53 "Usage Example contains "ssr: true", which does not appear to be a valid option"
Main README

[code]

[2022-06-28 04:53] astoilkov commented on #53
### 🤦‍♂️

Fixed with https://github.com/astoilkov/use-local-storage-state/commit/5851612aac645a191f0bbb26acf5ccd8f02ef81e.

Only `use-local-storage-state` version 17 and below have this option. This is because for React 18 support there isn't a need for an option — it's automatic.

Thanks for reporting!

[2022-06-28 04:53] #53 closed

[2022-09-28 12:12] SimonVanherweghe opened #54 "usage with reducer"
I'm not entirely sure this is something use-local-storage-state or just plain React related, but maybe someone can help me out here.
I would like to manage my state with a reducer and keep that in sync with the localStorage.

I've stumbled up [this article](https://www.benmvp.com/blog/sync-localstorage-react-usereducer-hook/) witch brought me to the idea of a "wrap" reducer so make sure any change

[2022-09-29 05:53] astoilkov commented on #54
Hey, I'll explain what happens.

If you remove `ssr: true` the issue is gone. So let me explain why `ssr: true` breaks the code.

In React 17, a good implementation for SSR isn't possible, so I've done a little hack to make it work — the hook  **renders twice on initial load**. That's also what's causing the problem.

`useLocalStorageState()` first renders with the default value and then with the

[2022-10-02 08:45] SimonVanherweghe commented on #54
Oh great, thanks for the explanation.

Turns out that some other deps supported React 18 in the meanwhile, so let's goooo! :-)

[2022-10-02 08:45] #54 closed

[2022-10-04 00:04] gDub74 opened #55 "Seems to be trying to fetch from local storage before window is defined in React/Next SSR environment"
I'm using use-local-storage-stare in a custom hook to store a UUID in local storage.  I'm calling my hook in several places in the app and I can see that when the window is undefined that I get different UUIDs from my default setting until window is defined and then I get the correct UUID from storage returned. Here is my implementation:

`import useLocalStorageState from "use-local-storage-state"

[2022-10-04 05:40] astoilkov commented on #55
What do you mean by "disable"? You can't skip the execution of the hook. That's a limitation of React Hooks. However, you can return undefined when the window is not available ((by not providing a defaultValue) and check that in your code:
[code]

[2022-10-04 15:33] gDub74 commented on #55
Thanks for the info! That doesn't quite work for my use case since I only want to read/set local storage after window is defined. I was hoping there was a way to not fire off the default until window is defined, I can handle in a useEffect conditionally... Just was thinking you already had this case covered since the description of the package says `SSR support.`

Curious, how is it supported for

[2022-10-04 15:40] astoilkov commented on #55
What do you think `useLocalStorageState` should return while the window is not defined?

The SSR support in React 18 is just a single line of code: https://github.com/astoilkov/use-local-storage-state/blob/b3cfa46927a27c282685a6790fd5400a9b48c64f/src/useLocalStorageState.ts#L159

It just provides a value to [`getServerSnapshot`](https://reactjs.org/docs/hooks-reference.html#usesyncexternalstore).

[2022-10-04 15:44] gDub74 commented on #55
I agree that returning undefined when window is not defined is a good idea. Just was thinking the setting of the default could be handled after the window is defined (as SSR support). I don't see the value of setting the default if no window.

[2022-10-04 15:58] astoilkov commented on #55
Do you have ideas of how this could be implemented inside of `use-local-storage-state`?

[2022-10-04 18:36] gDub74 commented on #55
Sorry for the trouble, I miss understood the purpose of your the use-local-storage-state hook w/ regards to SSR. I will make a small wrapper for my use case.

[2022-10-04 18:36] #55 closed

[2022-10-20 07:30] turingmachine opened #56 "React 18: value only is available on 2nd render cycle"
I believe this is by design, but can you elaborate why the value is only available on the 2nd render, which is triggered by use-local-storage-state itself?

[code]

[2022-10-20 07:34] astoilkov commented on #56
Hi, yeah, it's by design. There is no other way to make it work when `ssr: true`. Take a look at this comment where I explain this: https://github.com/astoilkov/use-local-storage-state/issues/54#issuecomment-1261800452.

I might add this to the documentation as it's creating a lot of confusion.

[2022-10-26 10:26] dherault commented on #56
I'm having this issue with version 18 as well, using react 18 without `StrictMode`. Any ideas how to solve?

[2022-10-26 11:22] astoilkov commented on #56
Hmm. You are right. I think I actually misread the issue. I will take a look at this in the next few days.

[2022-10-26 14:34] astoilkov commented on #56
Hmm. Sorry. I was testing on Code Sandbox and there StrictMode is logging twice in the console (I didn't know that). I now tested this without StrictMode and can't replicate it.

Can you make a reproducible example?

Thanks!

[2022-10-26 15:27] astoilkov commented on #56
@turingmachine Can you join in? Did you figure your issue out?

[2022-11-08 21:05] dalazx commented on #56
I am observing the same issue which seems to be caused by the hydration process, but in my case there are more than 1 renders before the value is finally returned. The real issue is that it is impossible to tell whether the value is not ready or the value is not there at all. So as a workaround I came up with:
[code]
[code]

[2022-11-09 07:11] astoilkov commented on #56
@dalazx Hey, is this again with React 18?

Can you do a reproduction of this? This will help me a lot!

Thanks.

[2022-11-09 10:50] dalazx commented on #56
@astoilkov here you go
https://github.com/dalazx/use-local-storage-state-demo

hope this helps
<img width="791" alt="image" src="https://user-images.githubusercontent.com/1091425/200811128-cdec2721-caad-4f74-a851-2b737917cb91.png">

[2022-11-09 11:18] astoilkov commented on #56
You are right, the issue is `useSyncExternalStore()` and how it works internally. I didn't know that until now but TIL something. Here is the explanation.

If I change the code to this:
[code]

Where the important part is:
[code]

The console will log `server value` and then `client value`.

This seems like an internal React behavior. It first renders the server value and then the client value (on